.home{
    display: flex;
    margin-top: 110px;
}
.Bio{
    width:40%;
    height:550px;
    margin: 0 auto;
}  
.Random{
    width:40%; 
    height:550px;
    margin: 0 auto;
    display: flex ;
}    
.titles{
    text-align: center;
    margin: auto; 
    margin-top: 80px;
    margin-bottom: 80px;
    color: rgb(255, 255, 255);
    width: 25%;
} 
#game{
background-color: #000b3b;
opacity: 0.9;
}
#Aboutme{
background-color: #000b3b;
opacity: 0.9;
}
#Skill{
    display: none ;
    overflow-y:hidden
}
.changecomponent{
    top: auto;
}