.Link{
    display: flex;
}
.EducationInformation{
    color:white;
}
.CvImage{
    width:200px;
}
.none{
    display: none;
}
.downloadpdf{
    display: flex;
    align-items:center;
}
.linkWIldcode{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.downloadpdf a {
    color: rgba(0, 195, 255, 0.685);
    text-decoration:none;
  }
.linkimgdownloadcv{
    display: flex;
    flex-direction: column;
    margin: auto;}
#imgdownloadcv{width: 60PX;}
#imgdownloadwild{width: 110PX;}
